<ol>
  <li class="root-task">
    <%= render_task_status(@parent_task) %>
    <%= @parent_task.title %>
    <%= render_task_controls(@parent_task) %>
    <%= render_sub_task_tree(@parent_task) %>
  </li>
</ol>
