body {
  width: 1200px;
  margin: 0 auto;
}

ol {
  padding-left: 0px;
  margin-bottom: 4px;
  list-style: none;
}

ol > li > ol {
  margin-top: 10px;
}

li {
  border: 2px solid #b2b2b2;
  border-radius: 4px;
  padding: 4px 10px;
  padding-right: 0px;
  position: relative;
}

li:not(.root-task) {
  border-right: 0px;
}

.status {
  font-size: 12px;
  color: #828282;
  background-color: #c7c7c7;
  padding: 2px 4px;
  margin-right: 4px;
}

.status.done {
  background-color: #1b9e1b;
  color: #e0e0e0;
}

.status.doing {
  background-color: #ca6138;
  color: #e0e0e0;
}

.task-controls {
  display: flex;
  position: absolute;
  right: 12px;
  top: 4px;
}

.root-task {
  background-color: #828282;
}

.level-0 {
  background-color: #828282;
}

.level-1 {
  background-color: #a2a2a2;
}

.level-2 {
  background-color: #c2c2c2;
}

.level-3 {
  background-color: #e2e2e2;
}
