body {
  width: 1200px;
  margin: 0 auto;
}

ol {
  padding-left: 0px;
  margin-bottom: 4px;
  list-style: none;
}

ol > li > ol {
  margin-top: 10px;
}

li {
  border: 2px solid #b2b2b2;
  border-radius: 4px;
  padding: 4px 10px;
  padding-right: 0px;
  position: relative;
}

li > span.status {
  position: absolute;
  right: 120px;
}

.task-controls {
  display: inline-block;
  position: absolute;
  right: 10px;
}

.task-controls span {
  display: inline-block;
  cursor: pointer;
  margin: 0 4px;
  margin-right: 0px;
  padding: 4px;
  width: 12px;
  text-align: center;
  line-height: 16px;
  font-weight: bold;
}

.task-controls span:hover {
  background-color: #ffbaba;
}

.add-sub-task {
  color: #ff4e4e;
}

.delete-sub-task {
  color: #505eff;
}

.complete-sub-task {
  color: #00d24d;
}

.task-form {
  border-top: 2px solid #b2b2b2;
  position: fixed;
  bottom: 0;
  padding: 10px;
  width: 1200px;
}

.task-link {
  position: absolute;
  right: 10px;
}
